

<div class="module stacked">
  <div id="top">
     <div class="module twocol">
        <div><h1>I need a Drink.....</h1></div>
        <div>
          <a href="http://www.yelp.com" target="_blank" >
            <img src="yelp_logo_100x50.png" alt="powered by Yelp"/>
          </a>
        </div>
     </div>
   </div>

  <div id="bottom">

    <div class="module twocol">
       <div id="map-canvas" ></div>

          <div id="scrolling" >
             <p><% i = 0 %></p>
             <p><% while i < @display.length %></p>
             <p id="bname"><%= @display[i]["name"] %></p>
               <% @display[i]["location"]["display_address"].each do |x| %>
             <div id="address"><%= x %></div>
              <% end %>
             <p><%= @display[i]["display_phone"] %></p>
             <p><%= @display[i]["snippet_text"] %></p>
             <p><a href=<%= @display[i]["url"] %> target="_blank">
              <%= @display[i]["url"] %> </a></p>
             <p><% i +=1 %></p>
             <p><% end %></p>
       </div>
    </div>
  </div>
</div>

<% content_for :scripts do %>
<script>

  var locations = <%= @results %>

  function initialize() {

    var mapOptions = {
      zoom: 15,
      panControl: false,
      zoomControlOptions: {
        style: google.maps.ZoomControlStyle.SMALL
      },
      center: new google.maps.LatLng(37.779931, -122.394868),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };

    var infowindow = new google.maps.InfoWindow();

    var map = new google.maps.Map(document.getElementById('map-canvas'),
        mapOptions);

    var marker, i;

    for (i = 0; i < locations.length; i++) {
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][0], locations[i][1]),
        map: map
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }

  }

  // google.maps.event.addDomListener(window, 'ready', initialize);
  $(document).ready(function(){
    initialize();
  });



  var currentTime = new Date().getHours();
     if ( currentTime> 2 | currentTime<11) {
       if(document.body) {
          document.body.background = "coffee.png";
        }
      }
     else if (currentTime>=11 &&currentTime < 3) {
       if(document.body) {
       document.body.background = "soda.png";
      }
     }
    else {
      if (document.body) {
      document.body.background = "vodka.png";
      }
    }

</script>
<% end %>
