<!-- <div id="map-canvas" style="height:500px; width:500px;"></div>
<div id="testarray"><%= @test %></div>
 -->

    <div class="map">
      <div id="map-canvas" style="height:500px; width:500px;"></div>
      <div id="testarray"><%= @test %></div>
     </div>

     <div class="backwards"></div>

      <p><% i = 0 %></p>
      <p><% while i < @display.length %></p>
      <p id="bname"><%= @display[i]["name"] %></p>
         <% @display[i]["location"]["display_address"].each do |x| %>
      <div><%= x %></div>
         <% end %>
      <p><%= @display[i]["display_phone"] %></p>
      <p><%= @display[i]["snippet_text"] %></p>
      <p><% i +=1 %></p>
      <p><% end %></p>

    </div>
