<!-- <div id="map-canvas" style="height:500px; width:500px;"></div>
<div id="testarray"><%= @test %></div>
 -->

<div class="row">
  <div class="large-3 columns">
    <div id="map-canvas" style="height:500px; width:500px;"></div>
    <div id="testarray"><%= @test %></div>
  </div>


  <div class="large-3 columns">
    <p><%= @names[0] %></p>
    <p><%= @display_address[0] %></p>
    <p><%= @distance[0] %></p>
    <p><%= @snippet_text[0] %></p>
  </div>
</div>

<div id="scrolling">
  <div class="large-3 columns">
    <p><%= @names[0] %></p>
    <p><%= @display_address[0] %></p>
    <p><%= @distance[0] %></p>
    <p><%= @snippet_text[0] %></p>
   text text text text text text text text text
   text text text text text text text text text
   text text text text text text text text text
   text text text text text text text text text
   text text text text text text text text text
   text text text text text text text text text
   text text text text text text text text text
   text text text text text text text text text
   </div>
</div>